header{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 20px;

}

nav{
    display: flex;
    justify-content: space-evenly;
}
section:first-of-type{
    display: flex;
    justify-content: center;
    text-align: center;

}
section:first-of-type h2{
    max-width: 700px;
}
section:nth-of-type(2){
    text-align: center;
}
section:nth-of-type(3){
    text-align: center;
}
section:nth-of-type(2) > div{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 30px;
}
.category{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.category img{
    width:200px;
    height:200px;
    border-radius: 50%;
    object-fit: cover;
}
.category h3{
    text-align: center;
}
footer{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
footer div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

input,
textarea {
    width: 85%;
    
}
form div {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
#contactus{
    text-align: center;
}

.product-row{
    display: flex;
    justify-content: center;
    gap:40px;
    margin: 25px 0;
}
.product-row > div {

    display: flex;
    justify-content: center;
    align-items: center;
}
.product-row img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}



/*Mobile layouts*/

header{
    flex-direction: column;
    text-align: center;
}

Nav{
    gap: 15px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.category img {
    width: 150px;
    min-height: 150px;
}
.categories
{
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

/*Desktop*/

@media (min-width: 900px) {
    header{
        flex-direction: row;
        justify-content: center;
    }

    nav {
        flex-direction: row;
        justify-content: center;
        gap: 60px;
    }
    .categories{
        flex-direction: row;
        justify-content: center;
        gap: 60px;
    }
    .category img{
        width: 200px;
        height: 200px;
    }